<html>

  <head>
    <style>
      * { font-size: 16px; } .heading { height: 100px; background-color:
      #374ec7; } .content { padding: 50px 100px; } .password { background-color:
      #374ec7; color: #fff; width: fit-content; padding: 10px 25px;
      border-radius: 5px; margin: 20px auto 0px; } .footer { height: 100px;
      background-color: #333333; color: #fff; padding-top: 35px; box-sizing:
      border-box; } .copyright { display: block; text-align: center; }
    </style>
  </head>

  <body>
    <div>
      <div class='heading'></div>
      <div class='content'>
        <p>Hello <b>{{name}}</b></p>
        <p>Your password is</p>
        <div class='password'>{{password}}</div>
      </div>
      <div class='footer'>
        <em class='copyright'>Copyright &copy; 2021 ES Trader All rights
          reserved.</em>
      </div>
    </div>
  </body>

</html>